h6 {
	font-size: 11px;
}

h4 {
	font-size: 1.143em;
}

li h4.special-margin, h5.special-margin, div.special-margin {
	margin-right: 25px;
}

@media (max-width: 992px) {
	h5, p {font-size: 0.93em}
	li h4.special-margin, h5.special-margin, div.special-margin {margin-right: 5px;}
}

.title-col > .row > h4 {margin-top: 5px; margin-bottom: 5px;}
.title-col > .row > p {margin-bottom: 0}
.title-col {padding-right: 10px}

.text-inline {
	display: inline-block;
}

#comments {
	height: 100%;
	display: flex;
	align-items: center;
}

#views {
	height: 100%;
	display: flex;
	align-items: center;
}

#activity {
	width: 45px
}

h4#allCommunities {
	margin-right: 25px;
}
